<%
function pagination_url(cursor) {
    url = meta.url;
    url.replace(/cursor=[^&]+&?/i, '');
    return `${url}&cursor=${cursor}`
}
%>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Civitai Simple Search</title>
        <link rel="stylesheet" href="style/main.css">
        <script type="text/javascript" src="scripts/main.js"></script>
    </head>
    <body>
        <div class="search_container">
            <form method="get" id="civitai_search" action="search">
                <div>
                    <% if (meta?.prevCursor) { %>
                        <a id="civit_prev_page" href="<%= pagination_url(meta.prevCursor) %>">&lt;</a>
                    <% } %>
                    <label>
                        Search
                        <input name="query" type="text" placeholder="Query" id="civit_query">
                    </label>
                    <label>
                        Tag
                        <input name="tag" type="text" placeholder="Tag" id="civit_tag">
                    </label>
                    <label>
                        NSFW
                        <select name="nsfw" id="civit_nsfw">
                            <option value="true" <% if (nsfw === "true") { %> selected <% } %> > Allow </option>
                            <option value="false" <% if (nsfw !== "true") { %> selected <% } %> > Deny </option>
                        </select>
                    </label>
                    <label>
                        Age
                        <select name="period" id="civit_period">
                            <option value="AllTime" selected>All Time</option>
                            <option value="Year">Year</option>
                            <option value="Month">Month</option>
                            <option value="Week">Week</option>
                            <option value="Day">Day</option>
                        </select>
                    </label>
                    <label>
                        Sort
                        <select name="sort" id="civit_sort">
                            <option value="Highest Rated">Highest Rated</option>
                            <option value="Most Downloaded">Most Downloaded</option>
                            <option value="Newest" selected>Newest</option>
                        </select>
                    </label>
                    <input type="submit" value="Search" id="search_submit">

                    <% if (meta?.nextCursor) { %>
                        <a id="civit_next_page" href="<%= pagination_url(meta.nextCursor) %>">&gt;</a>
                    <% } %>
                </div>
                <div id="civit_types">
                    Model Type:
                    <%
                        let model_types = [
                            "Checkpoint",
                            "TextualInversion",
                            "Hypernetwork",
                            "AestheticGradient",
                            "LORA",
                            "LoCon",
                            "Controlnet",
                            "Poses",
                            "Workflows",
                            "MotionModule",
                            "Upscaler",
                            "Wildcards",
                            "VAE"
                        ];
                        model_types.forEach(function(type) {
                    %>
                        <label class="checkbox"> <input type="checkbox" value="<%= type %>" <% if (types.includes(type)) { %>checked<% } %> > <span class=button> <%= type %> </span> </label>
                    <% }); %>
                </div>
                <div id="civit_baseModels">
                    Base Model:
                    <%
                        let baseModel_types = [
                            "Other",
                            "Pix Art a",
                            "Playground v2",
                            "Pony",
                            "SD 1.4",
                            "SD 1.5",
                            "SD 1.5 LCM",
                            "SD 2.0",
                            "SD 2.0 768",
                            "SD 2.1",
                            "SD 2.1 768",
                            "SD 2.1 Unclip",
                            "SDXL 0.9",
                            "SDXL 1.0",
                            "SDXL 1.0 LCM",
                            "SDXL Distilled",
                            "SDXL Lightning",
                            "SDXL Turbo",
                            "SVD",
                            "SVD XT"
                        ];
                        baseModel_types.forEach(function(baseType) {
                    %>
                        <label class="checkbox"> <input type="checkbox" value="<%= baseType %>" <% if (baseModels.includes(baseType)) { %>checked<% } %> > <span class=button> <%= baseType %> </span> </label>
                    <% }); %>
                </div>
                <input type='hidden' name='baseModels' id='civit_baseModels_input'>
                <input type='hidden' name='types' id='civit_types_input'>
            </form>
        </div>
        <div class="body_container">
            <% if (meta.status == "success") { %>
                <div class="cards_container">
                    <% cards.forEach(function(card) { %>
                        <div class="model_card">
                            <div class="preview"">
                                <a href="<%= card.url %>" target="_blank">
                                    <div class="preview_container">
                                        <% if (card.preview.type == "image") { %>
                                            <img class="model_preview" src="<%= card.preview.url %>">
                                        <% } else { %>
                                            <video class="model_preview" <%= autoplay ? "autoplay" : "" %> muted loop>
                                                <source src="<%= card.preview.url %>">
                                            </video>
                                        <% } %>
                                    </div>
                                </a>
                                <div class="title">
                                    <%= card.name %>
                                </div>
                                <div class="ux">
                                    <a href="#" onClick="toClipboard('<%= card.url %>');">📋</a>
                                    <a href="<%= card.download %>">💾</a>
                                </div>
                                <div class="model_meta">
                                    <span>
                                        <%= card.type %>
                                    </span>
                                    <span class="model_base">
                                        <%= card.baseModels[0] %>
                                    </span>
                                </div>
                            </div>
                            <div class="description">
                                <div class="text">
                                    <%- card.description %>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } else { %>
                <div><center><%= meta.statusMsg %></center></div>
            <% } %>
        </div>
    </body>
</html>
